body{
    font-family: "Poppins", system-ui !important;
}


.font-playfair{
    font-family: "Playfair Display", serif !important;
}

a{
    text-decoration: none !important;
}

nav a{
    font-family: "Poppins", system-ui;
    font-weight: 600 !important;
    text-decoration: none;
    color: inherit;
}

nav img{
    height: 25px;
}

nav .login a:nth-child(2){
    font-size: 20px;
    font-weight: 500 !important;

}

nav li.nav-item{
    margin-right: 20px;
}

nav li.nav-item::after{
    width: 0;
    display: block;
    content: "";
    height: 2px;
    background-color: #2b3035;
    transition: all 0.2s ease-in-out;
}

nav li.nav-item:hover::after{
    width: 100%;
}

.main-title{
    text-align: center;
    letter-spacing: 3px;
    font-size: 60px;

}

.main-title span{
    color: rgb(20, 13, 218);
}

.main-middle-info a{
    display: inline-block;
}

.main-middle-info a:first-child{
    font-size: 20px;
    font-weight: 500 !important;
}

.main-middle-info a:nth-child(2){
    color: inherit;
    font-weight: 600 !important;
    font-size: 18px;
    letter-spacing: 1px;

}

.main-middle-info a:nth-child(2):after{
    width: 0;
    display: block;
    content: "";
    height: 2px;
    background-color: #2b3035;
    transition: all 0.2s ease-in-out;
}

.main-middle-info a:nth-child(2):hover::after{
    width: 100%;
}
