*,
::after,
::before

/*pseudo-elementler*/
{
box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #2d3a4b;
}

body{
    margin: 0 auto;
}

.top-bar{
    height: 50px;
    background-color: #000;
}

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.login{
    float: right;
}

.top-bar ul li{
    list-style: none;
    display: inline-block;
    /*float: left;*/
    padding: 0 15px;
}

.top-bar ul li a{
    color: #fff;
    font-size: 12px;
    line-height: 50px;
    font-weight: bold;
}

.user-basket{
    position: relative;
}

.user-basket i{
    font-size: 25px;
}

.user-basket .item-count{
    background-color: #f38509;
    color: #000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    top: 8px;
    right: 5px;
    font-weight: bold;
    text-align: center;

}

.zoom:before{
    transition: transform 1s ease 1ms;
    /*
    -transition property
    -transition duration
    -transition timin function ease,ease-in ease-out
    -transition delay
     */
}

.zoom:hover:before{
    transform: scale(1.5);
}

.navbar-wrapper{
    height: 130px;
    padding: 30px;
}

nav.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo img{
    max-height: 70px;
}

nav .menu{
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
}

.navbar .menu ul{
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}














